@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: novaMono;
  user-select: none;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* NAVBAR - Header.tsx */

.nav-link {
  position: relative;
  text-decoration: none;
  color: #000; 
  font-size: 18px; 
  padding: 5px 0;
  font-weight: 600;
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  background-color: black; /* La couleur du trait */
  transform: scaleX(0);
  transform-origin: top;
  transition: transform 0.3s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: top;
}


/* INTRO - Intro.tsx */

.bg-section {
  background-color: #212529;
}


/* CONTACT - Contact.tsx */


.icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #333;
  transition: all 0.3s ease;
  position: relative;
}

.icon-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

.icon-link:hover {
  color: #0077b5; /* Couleur au survol, vous pouvez la changer */
}

.icon-link:hover::before {
  border-color: #0077b5; /* Même couleur que celle du survol */
  transform: scale(1.1);
}